@import "../settings/colors";
@import "../settings/fonts";

.about-us {
	display: flex;
	width: 100%;
	img {
		width: 50%;
	}
	.about-us__article {
		color: $base-text-color;
		background-color: $secondary-bg-color;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 4vw 7.5vw;
		h2 {
			font-size: 2vw;
		}
		svg {
			width: 20vw;
		}
		p {
			text-align: center;
			font-size: 1.5vw;
			line-height: 1.5;
		}
		img {
			width: 12vw;
			align-self: flex-end;
		}
	}
}
