@import "../settings/colors";
@import "../settings/fonts";

.header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-left: -25%;
	padding-right: 5%;
	.header__photo {
		width: 60%;
		.header__photo_img {
			max-width: 100%;
		}
	}
	.header__menu {
		text-align: right;
		padding-top: 1.5vw;
		a {
			text-decoration: none;
			color: $login-btns-text-color;
			font-size: 1.1vw;
			padding: 0 .5vw;
		}
		#sign-in {
			border: 1px solid $signin-btn-border;
			padding: .5vw .3vw;
		}
		.header__menu__nav {
			padding-top: 1.5vw;
			a {
				color: $base-text-color;
				font-size: 1.2vw;
				padding-left: 2.5vw;
				cursor: pointer;
				&:first-child {
					border: 0.75px solid $base-text-color;
					padding: .5vw 1vw;
				}
			}
		}
	}
	.header__intro {
		position: absolute;
		top: 35%;
		left: 58%;
		display: flex;
		flex-direction: column;
		align-items: center;
		h1 {
			white-space: pre-wrap;
			font-size: 2.4vw;
			color: $base-text-color;
			text-align: center;
			line-height: 1.4em;
			letter-spacing: -0.05em;
			padding-bottom: 2vw;
		}
		svg {
			width: 20vw;
		}
		.header__intro__btn {
			padding-top: 3vw;
			display: flex;
			a {
				display: block;
				width: 18vw;
				font-size: 2vw;
				font-family: $font-base;
				font-weight: 300;
				text-decoration: none;
				text-align: center;
				color: $base-text-color;
				background-color: transparent;
				border: .75px solid $base-text-color;
				cursor: pointer;
				padding: 1.2vw 0;
				&:first-of-type {
					margin-right: 1.5vw;
				}
				span {
					display: block;
				}
			}
		}
	}
}
