.three-columns {
	position: relative;
	img {
		width: 100%;
	}
	.three-columns__articles {
		display: flex;
		justify-content: space-between;
		text-align: center;
		position: absolute;
		top: 15%;
		padding: 0 5vw;
		article {
			width: 30%;
			span {
				font-family: $font-base;
				font-weight: 300;
				font-size: 4.8vw;
				color: $three-columns-span-color;
			}
			p {
				font-size: 1.1vw;
				color: $base-text-color;
			}
			.column-title {
				font-size: 1.3vw;
				padding: 2vw 0;
				font-weight: 400;
			}
			.column-description {
				font-family: $font-alt;
				font-weight: 300;
			}
		}
	}
}
