@import "../settings/colors";
@import "../settings/fonts";

.who-we-help {
	color: $base-text-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		padding: 4vw 0 2vw 0;
		font-size: 2vw;
	}
	svg {
		width: 20vw;
	}
	.who-we-help__btns {
		font-family: $font-base;
		display: flex;
		width: 100%;
		justify-content: center;
		padding: 3vw 0;
		button {
			border: none;
			background-color: transparent;
			font-size: 1.6vw;
			color: $base-text-color;
			padding: .5vw 2vw;
			margin: 0 2vw;
			cursor: pointer;
			span {
				display: block;
			}
		}
		.who-we-help__btns-active {
			border: 0.75px solid $base-text-color;
		}
	}
	.who-we-help__subjects {
		.who-we-help__subjects-descript {
			width: 40vw;
			text-align: center;
			font-size: 1.3vw;
			line-height: 1.2;
			margin: 0 auto;
		}
		.who-we-help__subjects-list {
			padding: 3vw 0 2vw 0;
			font-family: $font-alt;
			font-weight: 300;
			width: 70vw;
			line-height: 1.5;
			font-size: 1.2;
			.who-we-help__subjects-list-subject {
				display: flex;
				justify-content: space-between;
				padding: 1vw 0;
				&:nth-child(even) {
					border-top: 1px solid $base-text-color;
					border-bottom: 1px solid $base-text-color;
				}
				.who-we-help__subjects-list-subject-name {
					font-size: 1.7vw;
				}
				.who-we-help__subjects-list-subject-needs {
					align-self: center;
				}
			}
		}
		.who-we-help__pagination {
			display: flex;
			justify-content: center;
			li {
				padding: 1vw;
				cursor: pointer;
				margin: 0 1vw;
			}
		}
	}
}

.who-we-help__btns-active {
	border: 0.75px solid $base-text-color;
}
