$login-btns-text-color: #737373;
$header-text-color: #3c3c3c;

// Bg-colors
$main-bg-color: #fff;
$secondary-bg-color: #f0f1f1;
$accent-bg: transparent url('../../assets/3-Columns-\ Background.png') 0% 0% no-repeat padding-box;
