@import-normalize;
@import "./settings/fonts";
@import "./settings/colors";

html,
body {
	margin: 0;
	padding: 0;
	font-family: $font-base;
	height: 100%;
	box-sizing: border-box;
	#root {
		height: 100%;
	}
}

header {
	display: flex;
	justify-content: space-between;
	.photo {
		margin-left: -25%;
		height: auto;
		overflow: auto;
		width: 70%;
		.photo__img {
			max-width: 100%;
			float: right;
			height: auto;
		}
	}
}
